html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://dinosaurstoday.github.io/images/main_bg.png);
    background-attachment:fixed;
    background-position: left top;
    background-size: cover;
    
}

body {
    width: 80vw;
    margin: 0 auto;
    background-color: rgb(59, 59, 59);
}

h1 {
    display: block;
    margin: 0 auto;
    font-size: 6vw;
    color: white;
}

.model_view {
    display: block;
    margin: 0 auto;
}

footer {
    border-top: 2px solid white;
    text-align: center;
    font-size: 0.8em;
}