main {
    clear: left;
    margin: 1.5em 2em 1.5em;
    padding: 0.5em;
}
nav {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 0.5em;
}
footer {
    text-align: center;
    font-size: 80%;
}
main h3 {
    margin: 3em 2em 1.5em;
    font-size: 105%;
    border: 5px double blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}
   
#list {
    line-height: 1.5em;
}
#profile_pic {
    float: left;
    margin-left: 4.5em;
}
   
.contacts {
    margin: 1.5em 2em 0em;
    border: 5px dotted blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px;
    padding: 1em;
}
.contacts div {
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px 10px;
    width: 300px;
    padding: 0 10px;
}

.contacts img {
	float: left;
	padding: 8px 6px 0px;
}
   
p.copyright {
    text-align: center;
    font-size: 80%;
}